* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  background: url(/images/sign.jpg);
  background-position: center;
  background-size: cover;
}

.signup-box {
  padding: 20px;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  background: #000;
  color: #fff;
}

h1 {
  font-size: 40px;
  text-align: center;
}

.lbl {
  font-size: 30px;
}

.input-box {
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding-left: 20px;
}

.btn {
  height: 30px;
  margin-left: 40px;
  margin-top: 10px;
  width: 80%;
  border-radius: 10px;
  border: none;
  padding-left: 40px;
  font-size: 18px;
  background: darkgreen;
  color: #fff;
}

.success {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background: green;
  display: none;
}

.failure {
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background: red;
  display: none;
}

.login-message {
  padding: 20px;
}

.login-message a {
  margin-left: 20px;
  text-decoration: none;
  color: blue;
}

.login-message a:hover {
  color: yellow;
}
