<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/static/css/login.css">
</head>
<body>
    <div class="login-box">
        <form action="" class="loginform">
        <h1>Login Here</h1>
        <label for="name" class="lbl">Email</label><br>
        <input class="input-box" id="login-email" type="email" name="email" placeholder="Enter your email"><br>
        <label for="password" class="lbl">Password</label><br>
        <input class="input-box" id="login-password" type="password" name="password" placeholder="Enter your password">
        <br>
        <input class="btn" type="submit" name="submit" value="Login">
        <p>Forgot Your Password?<a href="#">Reset Password</a></p>
        <p>Don't have an account?<a href="sign-up.html">Sign Up</a></p>
        </form>
    </div>
</body>
</html>